.header {
	border: none;
	background-color: #c0c0c0;
	color: #000000;
}
.tr {
	width: 1100px;
	padding-left: 50px;
	color: white;
}
.h1 {
	text-align: center;
}

.footer {
	border: none;
	background-color: #c0c0c0;
	color: #000000;
	padding:  10px;
}
#tab2 {
	width: 1500px;
	padding-left: 10px;

}
#obomne {
	text-align: center;
}
#kurs {
	text-align: center;
}
#mywork {
	text-align: center;
}